		.button {
			cursor: pointer;
		}

		.center {
			text-align: center;
			padding: 10px;
			margin: 10px;
			size: 100px;
		}

		.card {
			background-color: lightgray;
			margin: 100px;
		}
    body {
			margin: 0;
			padding: 0;
			background-color: #DCDCDC;
		}
